{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
  <meta name="theme-color" content="#222222" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/header.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/toc.js' | relative_url }}"></script>
  
  <!-- CSS -->
  <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/theme.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/rsyntax.css' | relative_url }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link href="{{ '/assets/css/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
   <!--End CSS --> 
  
 {% feed_meta %}
 
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


<!-- Twitter cards -->
<meta name="twitter:site"    content="@{{ site.social.twitter }}">
<meta name="twitter:creator" content="{{ site.author }}">
{% if page.title %}
<meta name="twitter:title"   content="{{ page.title }}">
{% else %}
<meta name="twitter:title"   content="{{ site.title }}">
{% endif %}
{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.summary_image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}{{ page.summary_image }}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.url }}{{ site.summary_image }}">
{% endif %}
<!-- end of Twitter cards -->

</head>

<body>

  {% include google-analytics.html %}
  {% include yandex-metrica.html %}

 <script type="text/javascript">
  WebFontConfig = {
    google: {
      families: ['Ubuntu::latin']
    }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
		
        <a class="navbar-brand" style="font-family: 'Raleway', sans-serif;" href="{{ '' | relative_url }}/"><i class="fas fa-cogs"></i> | {{ site.name }}</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav" style="font-family: 'Raleway', sans-serif;">
          <li><a href="{{ '' | relative_url }}/"><i class="fas fa-home"></i> Home</a></li>
		  <li><a href="{{ 'archive.html' | relative_url }}"><i class="fas fa-archive"></i> Posts</a></li>
          <li><a href="{{ 'projects.html' | relative_url }}"><i class="fas fa-microchip"></i> Projects</a></li>
          <li><a href="{{ 'about.html' | relative_url }}"><i class="fas fa-address-card"></i> About</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
