{% include header.html %}
<style>
h1   {color: #8FD6B3;}
h2   {color: #8FD6B3;}
h3   {color: #8FD6B3;}
h4   {color: #8FD6B3;}
h5   {color: #8FD6B3;}
h6   {color: #8FD6B3;}
</style>
    <div class="wrapper">
      <div class="content">
        <div class="container container-center">
          <div class="row">
            <div class="col-md-8">
              <div class="well">
                {{ content }}
              </div>
            </div>
            <div class="col-md-4 hidden-xs">
              {% include sidebar.html %}
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>