{% include header.html %}
<style>
h1   {color: #8FD6B3;}
h2   {color: #8FD6B3;}
h3   {color: #8FD6B3;}
h4   {color: #8FD6B3;}
h5   {color: #8FD6B3;}
h6   {color: #8FD6B3;}
</style>
    <div class="wrapper">
      <div class="content">
        <div class="container container-center">
          <div class="row">
            <div class="col-md-8">
              <div class="article">
                <div class="well">
                  <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
                  <div class="post-meta">
                    <div class="post-time">
                      <i class="fa fa-calendar"></i>
                      <time>{{ page.date | date_to_string }}</time>
                    </div>
                    <ul>
                      {% for tag in page.tags %}
                        <li><a href="{{ '/tag/' | append: tag | relative_url }}">{{ tag }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="post-content">
                    <div id="toc" class="toc"></div>
                    {{ content }}
                    {% include share.html %}
                  </div>
                  {% if page.github_comments_issueid %}
				  <hr>
					   <div class="page-content">
					  <div class="wrapper">
						{% include github-comments.html %}
					  </div>
					</div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-4 hidden-xs">
              {% include sidebar.html %}
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
